<div class="container">

    
    
    <div id="logo">
        <h2>Recipe<b>Finder</b></h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        </p>
    </div>

    <div class="company">
        <h3>Company</h3>
        <div>
            <a href="#">About</a>
            <a href="#">Features</a>
            <a href="#">Blog</a>
            <a href="#">Contact Us</a>
        </div>
    </div>

    <div class="help">
        <h3>Help</h3>
        <div>
            <a href="#">Getting Started</a>
            <a href="#">FAQ</a>
            <a href="#">Referal Program</a>
        </div>
    </div>

    <div class="subscribe">
        <h3>Subscribe</h3>
        <div>
            <img src="https://cdn1.iconfinder.com/data/icons/logos-and-brands-3/512/121_Facebook_logo_logos-256.png" alt="">
            <img src="https://cdn4.iconfinder.com/data/icons/doodle-4/161/instagram-256.png" alt="">
            <img src="https://cdn2.iconfinder.com/data/icons/threads-by-instagram/24/x-logo-twitter-new-brand-contained-outline-256.png" alt="">
        </div>
    </div>

    <p id="cpright">&copy; 2024 RecipeFinder, All Rights Reserved</p>
    
</div>
