<div class="container">
    <h3>Browse by Category</h3>

    <div class="contents">
        <figure>
            <img src="https://th.bing.com/th/id/R.3de64cfdf3de6f3e1b0078e464732c3d?rik=25fCG%2fLyC%2bFtsA&pid=ImgRaw&r=0" alt="">
            <figcaption>Breakfast</figcaption>
        </figure>

        <figure>
            <img src="https://wallpapercave.com/wp/wp2097807.jpg" alt="">
            <figcaption>Snacks</figcaption>
        </figure>

        <figure>
            <img src="https://th.bing.com/th/id/R.fa4fada7e3cc62600adda7e7f9666a72?rik=7qq%2b8h%2fuztv64g&pid=ImgRaw&r=0" alt="">
            <figcaption>Lunch / Dinner</figcaption>
        </figure>

        <figure>
            <img src="https://th.bing.com/th/id/OIP.ZF7BYYIrCTHDnGdFQC3XIwHaEo?rs=1&pid=ImgDetMain" alt="">
            <figcaption>Dessert</figcaption>
        </figure>
    </div>

    <h1>Your <b>Culinary Adventure</b> Awaits</h1>
</div>
