#myProfile{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

#myRecipes{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 3%;
}

#myRecipes h3{
    width: 100%;
    height: 20px;
}

#addrecipe{
    width: 50px;
    height: 50px;
    margin-top: auto;
    margin-left: auto;
    margin-right: 1%;
    margin-bottom: 1%;
}

#addrecipe:hover{
    filter:invert(45%);
}

#backBtn{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10%;
    left: 1%;
    cursor: pointer;
}


#backBtn:hover{
    opacity: 0.7;
}

.addRcp{
    position: absolute;
    display: none;
    top: 90px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 1;
}

.addRcp form{
    position: relative;
    margin: auto;
    width: 30%;
    background-color: white;
    box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
}

#close_btn{
    position: absolute;
    top: 1%;
    right: 1%;
    filter: grayscale(100%);
    width: 30px;
    height: 30px;
}

#close_btn:hover{
    filter: grayscale(0%);
}

form h3{
    text-align: center;
}
form label{
    margin-bottom: 2%;
}

form input, form textarea, form button{
    padding: 2%;
    border-radius: 5px;
    border-width: 1px;
    margin-bottom: 3%;
    font-family: "Fira Sans", sans-serif;
    resize: none;
}

form button{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    color: white;
    border: 0;
    background-color: rgb(243, 140, 16);
    
}

form button:hover{
    background-color: rgb(204, 118, 12);
}



figure{
    position: relative;
    border-radius: 10px;
    width: 300px;
    min-width: 300px;
    height: 200px;
    margin: auto;
    margin-bottom: 5%;
    margin-right: auto;
    margin-left: 1%;
    overflow: hidden;
    cursor: pointer;
}

figure img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

figcaption{
    color: white;
    position: absolute;
    top: 0%;
    padding: 2%;
    padding-top:45% ;
    background-color: rgba(0,0,0,0.4);
    width: 300px;
    height: 90%;
}

figure:hover{
    box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.3);
    color: rgb(243, 140, 16);
    font-weight: 600;
}

figure p{
    position: absolute;
    bottom: 2%;
    right: 5%;
    font-size: small;
    font-weight: 400;
    color: rgba(255,255,255,.7);
}

figure h4{
    position: absolute;
    bottom: 1%;
    width: 10%;
}

figure h4 img{
    width: 100%;
}

figure a{
    position: absolute;
    top: 1%;
    right: 1%;
    width: 25px;
    height: 25px;
}

figure a:nth-child(even){
    right: 12%;
}

figure a img{
    width: 100%;
    height: 100%;
    filter: invert(100%);
}


